# PRe-processing steps
1. Imputation missing values(sklearn.impute <- class)
2. Never Impute the missing values in target variables,drop the rows with the missing target variable values

In [3]:
import pandas as pd;
import numpy as np;
A=pd.DataFrame({
    "a":[1,2,3,6,7,8],
    "b":[54,None,6,7,7,8],
    "c":["A","B",np.nan,np.nan,"a","b"],
    # always use label encoding when converting from catgorial data to numerical
    "d":["Purchase","NOtpurchased","Purchase","NOt purchased","Purchase","NOt purchased"],
    "city" :['delhi','dehradhun',"lucknow",'delhi','dehradhun',"lucknow"],
    
})
A[['d']]

               d
0       Purchase
1   NOtpurchased
2       Purchase
3  NOt purchased
4       Purchase
5  NOt purchased

In [4]:
A.sample(3)

   a     b    c              d     city
5  8   8.0    b  NOt purchased  lucknow
2  3   6.0  NaN       Purchase  lucknow
0  1  54.0    A       Purchase    delhi

In [5]:
from sklearn.impute import SimpleImputer
# obj
si=SimpleImputer(strategy='mean');
# si.fit_transform();
# si.fit();
# si.transform();

1. object use krna means->fit()  <-learn
2. show output actual changes ->transform() <-process

In [20]:
# replaces the Nan values
A["a"]=si.fit_transform(A[['a']])
A["b"]=si.fit_transform(A[['b']])

     b
0  1.0
1  2.0
2  3.0
3  6.0
4  7.0
5  8.0

a       0
b       0
c       0
d       0
city    0
dtype: int64

In [7]:
si2=SimpleImputer(strategy="most_frequent");
A[["c"]]=si2.fit_transform(A[["c"]])
A[['c']]

   c
0  A
1  B
2  A
3  A
4  a
5  b

#  Text to NUmber  it is called Encoding 
1. ordinal Encoding
2. label Encoding (for target variable)
3. ONe-hot Encoding

In [8]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
A[["c"]]=oe.fit_transform(A[["c"]])

In [9]:
from sklearn.preprocessing import LabelEncoder
Le=LabelEncoder()
A['d']=Le.fit_transform(A[['d']])

/Users/ayush/miniconda3/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:

df = pd.DataFrame({
    'City' : ['Delhi', 'Mumbai', 'Hyderabad', 'Mumbai', 'Delhi'],
    'pop' : [12, 13, 14, 15, 16]
})
he = OneHotEncoder(drop='first', sparse_output=False)
enc_city = he.fit_transform(df[['City']])
df = pd.concat([df, pd.DataFrame(enc_city)], axis=1)
df.drop('City', axis=1, inplace=True)
df

NameError: name 'OneHotEncoder' is not defined

In [ ]:
he.inverse_transform([[1,0],[0,0],[0,2]])

array([['Hyderabad'],
       ['Delhi'],
       ['Mumbai']], dtype=object)

In [ ]:
from sklearn.preprocessing import StandardScaler
df = pd.DataFrame({
    'salary': [123000,100000,500000,120300],
    'age': [44,34,45,30],
})
sc = StandardScaler()
df[['salary','age']] = sc.fit_transform(df)
df

     salary       age
0 -0.525295  0.895953
1 -0.662862 -0.662226
2  1.729601  1.051771
3 -0.541444 -1.285497